* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1f1f1f;
}

h1 {
    text-align: center;
    color: #FFF;
}

hr {
    background: linear-gradient(to right, transparent, #FFF, transparent);
    border: 0;
    width: 50vh;
    height: 1px;
    margin: auto;
}

main {
    width: 75vw;
    height: 500px;
    background-color: #CCC;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

section {
    width: clamp(0px, 300px, 30%);
    height: 100%;
    position: relative;
    transition: .25s;
    cursor: pointer;
    filter: grayscale(1);
}

section:hover {
    transform: scale(0.95);
    box-shadow: 0 0 5px 5px #666;
    filter: grayscale(0);
}

button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    font-weight: 1000;
    font-size: 1.3rem;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .25s;
}

section:hover button {
    transform: rotate(0deg);
}

#space {
    background: url(../img/Space/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg);
    background-size: cover;
    background-position-x: 50%;
}

#space button {
    background: #F50;
    border: 2px solid #820;
}

#space:hover button {
    background: #820;
}

#nature {
    background: url(../img/Nature/christoph-nolte-hUhP8wr_dBo-unsplash.jpg);
    background-size: cover;
    background-position-x: 50%;
}

#nature button {
    background: rgb(0, 153, 255);
    border: 2px solid rgb(0, 60, 116);
}

#nature:hover button {
    background: rgb(0, 60, 116);;
}

#tech {
    background: url(../img/Technology/apoorv-mittal-D99V0sIsm6E-unsplash.jpg);
    background-size: cover;
    background-position-x: 50%;
}

#tech button {
    background: rgb(3, 199, 91);
    border: 2px solid rgb(0, 104, 47);
}

#tech:hover button {
    background: rgb(0, 104, 47);
}